global:
  message: Welcome to global microservices environments!!
  logging:
  eureka:
    client:
      service-url:
        defaultZone: http://localhost:8761/eureka
    level:
      root: INFO
  management:
    endpoints:
      web:
        exposure: 
          include: health, info, refresh
    endpoint:
      health:
        show-details: always
